body {
    background-color: rgb(255, 233, 233);
}

#flex-div {
    display: flex;
    margin: 5px;
    padding-top: 5px;;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.gen-box {
    border-color: purple;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
}

.grid-div {
    display: grid;
    margin-top: 15px;;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding: 5px;
    grid-template-columns: 30rem 30rem 30rem;
    grid-template-rows: auto;
    grid-template-areas: 
    "row1 row1 row1"
    "row2 row2 row2"
    "row3 row3 row3";
}

* {
    color: #00AA00;
    text-decoration: overline;
    text-align: center;
}